<h2>Pipeline</h2>

<%= render :partial => "form" %>

<% issues = @todos %>

<% unless issues && issues.any? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
    <table class="list issues">
    <thead>
        <tr>
            <th>#</th>
        <% unless @group==:project %>
            <th><%=l(:field_project)%></th>
        <% end %>
        <% unless @group==:tracker %>
            <th><%=l(:field_tracker)%></th>
        <% end %>
        <% unless @group==:month %>
            <th><%=l(:field_assigned_to)%></th>
        <% end %>
            <th><%=l(:field_subject)%></th>
            <th><%=l(:field_estimated_hours)%></th>
            <th><%=l(:label_spent_time)%></th>
            <th>Time left</th>
        <% if @group==:month %>
            <th>Capacity</th>
            <th>Workload</th>
        <% end %>
        </tr>
    </thead>

    <%
       case @group
         when :project
    %>
            <%= render :partial => "by_project", :locals => { :issues => issues } %>
    <%
         when :tracker
    %>
            <%= render :partial => "by_tracker", :locals => { :issues => issues } %>
    <%
       when :version
    %>
            <%= render :partial => "by_version", :locals => { :issues => issues } %>
        <%
           else #default to :month
    %>
            <%= render :partial => "by_month", :locals => { :issues => issues } %>
    <%
        end
    %>
    </table>
<% end %>